main {
  display: flex;
  flex-flow: row wrap;
  margin-left: 5%;
  margin-right: 5%;
}

section {
  min-height: 150px;
  min-width: 150px;
}

#block1 {
  background-color: red;
  flex-basis: 100%;
}

#block2 {
  background-color: blue;
  flex-basis: 100%;
}

#block31 {
  background-color: yellow;
  flex-basis: 33.333%;
}

#block32 {
  background-color: lavender;
  flex-basis: 33.333%;
}

#block33 {
  background-color: lightcoral;
  flex-basis: 33.333%;
}

#block4 {
  background-color: green;
  flex-basis: 50%;
}

#block5 {
  background-color: grey;
  flex-basis: 50%;
}

#block6 {
  background-color: forestgreen;
  flex-basis: 25%;
}

#block7 {
  background-color: lightcoral;
  flex-basis: 25%;
}

#block8 {
  background-color: yellowgreen;
  flex-basis: 25%;
}

#block9 {
  background-color: grey;
  flex-basis: 25%;
}

#block10 {
  background-color: firebrick;
  flex-basis: 100%;
}

#block11 {
  background-color: aqua;
  flex-basis: 100%;
}

#block12 {
  background-color: olive;
  flex-basis: 100%;
}

@media (max-width: 800px) {
  #block1,
  #block2 {
    flex-basis: 100%;
  }
  #block31,
  #block32 {
    flex-basis: 50%;
  }
  #block33 {
    flex-basis: 100%;
  }

  #block4,
  #block5 {
    flex-basis: 50%;
  }
  #block6,
  #block7,
  #block8,
  #block9 {
    flex-basis: 50%;
  }
  #block10 {
    flex-basis: 100%;
  }

  #block11,
  #block12 {
    flex-basis: 100%;
  }
}

@media (max-width: 600px) {
  #block1,
  #block2,
  #block31,
  #block32,
  #block33,
  #block4,
  #block5,
  #block6,
  #block7,
  #block8,
  #block9,
  #block10,
  #block11,
  #block12 {
    flex-basis: 100%;
  }
}
